{% extends "base.html" %}

{% block content %}
{{ test }}

<h1>Menu List</h1> 
Por favor selecciona el dia del menu: 
<form  name="formMenuCreate" method="POST" action="{% url 'menulist' %}"> {% csrf_token %}
	<select id="selectMenuCreate" name="selectMenuCreate">
		<option value="0" {% if '0' == menuCreateId %} selected {% endif %}>Seleccione</option>
		{% for menu in menuCreate %}
		<option {% if menu.id|stringformat:"s" == menuCreateId|stringformat:"s" %} selected {% endif %} value="{{menu.id}}">{{menu.date}}</option>
		{% endfor %}
	</select>
	<button type="submit">submit</button>
</form>
{% if object_list and menuCreateId != '0' %}
<ul>
{% for obj in object_list %}
	<li>Opcion: {{ obj.option }}<br> {{obj.description}}  <form method="POST" action="{% url 'delete' obj.id %}" name="form{{obj.id}}"> {% csrf_token %} {<a href="#" onclick="document.form{{obj.id}}.submit();">eliminar</a>} {<a href="{% url 'update' obj.id %}">editar</a>} </form> 

	</li>
{% endfor %}
</ul>
{% endif %}

{% if menuCreateId != '0' %}
<form method="POST" name="crearSubmit" action="{% url 'menucreateparams' menuCreateId %}">{% csrf_token %}
	<input type="hidden" id="menuCreateId" name="menuCreateId" value="{{ menuCreateId }}">
<h5><a href="#" onclick="document.crearSubmit.submit();">Crear nueva opcion de menu</a> | <a href="{% url 'sendtoslack' menuCreateId %}">Enviar Menu por Slack </a></h5>
</form>

{% endif %}
{% endblock %}